* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
}

a {
    position: absolute;
    align-self: self-start;
    margin-right: 3.75em; /* 60px convertido a em */
}

img[id="title"] {
    margin-top: 100px;
    position: absolute;
    align-self: self-start;
    margin-right: 25px;
}

img[id="taxi"] {
    margin-top: 25px;
    position: absolute;
    width: 70px;
    height: 60px;
    margin-left: 10px;
}

.box {
    position: relative;
    width: 380px;
    height: 450px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 7%;
    
}


.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: 50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #c7ff45,#fcff45);
    transform-origin: bottom left;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: 50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, #c7ff45,#fcff45);
    transform-origin: bottom left;
    animation: animate 6s linear infinite;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg)
    }
}

.form {
    position: absolute;
    inset: 2px;
    border-radius: 8px;
    background: #28292d;
    z-index: 10;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: gold;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(250, 250, 7);
    font-size: 1em;
    letter-spacing: 0.05em;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    pointer-events: none;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #ffd445;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
}

.inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #ddff45;
    opacity:20%;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid ~ i,
.inputBox input:focus ~ i
{
    height: 44px;
}

.links
{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.links a:hover,
.links a:nth-child(2)
{
    color: #45f3ff;
}

input[type="submit"]{
    border: none;
    outline: none;
    background: #fcff45;
    padding: 11px 25px;
    width: 125px;
    margin-top: 24px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    align-self: center;
}

input[type="submit"]:active
{
    opacity: 0.4;
    align-self: center;
}

    @media only screen and (max-width: 600px) {
        body {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
            grid-gap: 10px;
            align-items: start;
            justify-items: center;
            flex-direction: column;
        }
    
        img[id="title"] {
            position: absolute;
            grid-row: 1;
            grid-column: 1;
            align-self: flex-start;
            width: 100%;
            margin: 8em auto;
        }
    
        a {
            grid-row: 2;
            grid-column: 1;
            width: 100%;
            margin: 2em auto;
        }
    
        img[id="taxi"] {
            grid-row: 3;
            grid-column: 1;
            width: 15%;
            margin: 0.2em auto;
            margin-left: 45%;
        }
    
        .box {
            grid-row: 4;
            grid-column: 1;
            margin-top: 50%;
            width: 80%;
            margin: 15em auto;
        }
    
        .inputBox {
            width: 100%;
        }
    }